[project]
	description = Lustre monitoring module for Ganglia (gmond)
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Yuriy (yshestakov)
[access "refs/for/refs/*"]
	read = group user/Yuriy (yshestakov)
	push = group user/Yuriy (yshestakov)
	label-Code-Review = -2..+2 group user/Yuriy (yshestakov)
	label-Verified = -1..+1 group user/Yuriy (yshestakov)
	rebase = group user/Yuriy (yshestakov)
	removeReviewer = group user/Yuriy (yshestakov)
	submit = group user/Yuriy (yshestakov)
[access "refs/heads/*"]
	read = group user/Yuriy (yshestakov)
	create = group user/Yuriy (yshestakov)
	push = +force group user/Yuriy (yshestakov)
	pushMerge = group user/Yuriy (yshestakov)
[access "refs/tags/*"]
	push = +force group user/Yuriy (yshestakov)
	pushTag = group user/Yuriy (yshestakov)
	pushSignedTag = group user/Yuriy (yshestakov)
